# Database configuration

DB_HOST=localhost
DB_PORT=5433
DB_NAME=mydb
DB_USER=postgres
DB_PASSWORD=postgres


# Redis configuration

REDIS_HOST=localhost
REDIS_PORT=6379



# use secrets.token_hex(32) for security
JWT_SECRET_KEY=


ADMIN_NAME="Juan"
ADMIN_EMAIL="j@gmail.com"
ADMIN_PASSWORD="12345678"